.gpm-banner {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}
.gpm-title {
  display: flex;
  align-items: center;
  color: #fd5430;
  margin-bottom: 0;
  margin-top: 8px;
}
.gpm-logo {
  flex-direction: row-reverse;
  height: 60px;
}

.nav {
  background-color: #6363ee;
  border: none;
  border-radius: 8px;
}

.profilbutton {
  width: auto;
  background-color: #6363ee;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.fa-user {
  padding-left: 8px;
}
.fa-arrow-left {
  font-size: 22px;
  position: absolute;
  left: 2.5%;
  top: 3.7%;
  text-decoration: none;
  color: #6363ee;
}
