.gpm-banner {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 7%;
}
.gpm-title {
  display: flex;
  align-items: center;
  color: #fd5430;
}
.gpm-logo {
  flex-direction: row-reverse;
  height: 60px;
}

.nav {
  background-color: rgb(164, 164, 243);
  border: none;
  border-radius: 8px;
}

.profilbutton {
  width: auto;
  background-color: rgb(164, 164, 243);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.fa-user {
  padding-left: 8px;
}
